@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap");

html 
{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after 
{
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body 
{
  margin: 0 auto;
  padding: 0px;
  height: auto;
}

body 
{
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
}

h1 
{
  font-weight: 600;
  color: #4c545d;
  font-size: 2.3em;
  margin: 5% auto;
}

h2 
{
  font-weight: 600;
  color: #4c545d;
  font-size: 2em;
  margin: 0 4%;
}

h3 
{
  font-weight: 600;
  color: #4c545d;
  font-size: 1rem;
}

p 
{
  text-align: center;
  color: #9fabb2;
  max-width: 580px;
  line-height: 1.8;
  font-weight: 400;
  margin: 5% 12%;
}

a 
{
  text-decoration: none;
}

header 
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inicio 
{
  background: url("imagenes/bg-header-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.inicio img 
{
  margin-top: 60px;
  margin-bottom: 25px;
}

.boton 
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boton .button 
{
  cursor: pointer;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  padding: 1em 3.5em;
  border: none;
  border-radius: 30px;
  text-shadow: 3px 4px 3px hsl(0, 0, 58%);
  -webkit-box-shadow: 5px 10px 18px #888888;
          box-shadow: 5px 10px 18px #888888;
}

.boton .boton-iOS 
{
  margin: 10px;
  background: #26baa4;
}

.boton .boton-iOS:hover 
{
  -webkit-box-shadow: 0 0 10px 0 #26baa4 inset, 0 0 10px 4px #26baa4;
          box-shadow: 0 0 10px 0 #26baa4 inset, 0 0 10px 4px #26baa4;
}

.boton .boton-Mac 
 {
  margin: 10px;
  background: #6173ff;
}

.boton .boton-Mac:hover 
{
  -webkit-box-shadow: 0 0 10px 0 #6173ff inset, 0 0 10px 4px #6173ff;
          box-shadow: 0 0 10px 0 #6173ff inset, 0 0 10px 4px #6173ff;
}

.texto1 
{
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20%;
}

.texto2 
{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-top: 10%;
}

.texto2 .texto-izquierda 
{
  margin: 10px;
}

.texto2 .texto-izquierda .computadora1 
{
  width: 90%;
}

.texto2 .texto-derecha 
{
  margin-top: 10%;
  text-align: center;
}

.texto2 .texto-derecha p 
{
  margin-bottom: 12%;
}

.texto3 
{
  margin-top: 12%;
}

.texto3 img 
{
  margin: 10% 0;
  width: 100%;
}

.texto4 
{
  display: block;
  margin-top: 12%;
}

.texto4 p 
{
  margin-bottom: 12%;
}

.texto5 
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  height: 70vh;
}

.texto5 img
 {
  max-width: 100%;
}

.texto6
 {
  padding: 12% 5%;
}

.texto7 
{
  margin-top: 5%;
  padding: 0 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f5f6f8;
  text-align: center;
}

.texto7 .logo 
{
  height: 70px;
  width: 70px;
  margin: 30px auto;
}

.texto7 ul 
{
  -webkit-column-count: 1;
          column-count: 1;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.texto7 ul li 
{
  font-size: 1.5em;
  position: relative;
  margin: 1.8rem auto;
  color: #4c545d;
}

.texto7 ul li:hover 
{
  color: #26baa4;
  cursor: pointer;
}

.texto7 .socialIcons 
{
  margin-top: 5%;
}

.texto7 .socialIcons a img 
{
  margin: 0 20px 20px 0;
  -webkit-filter: drop-shadow(8px 8px 10px gray);
          filter: drop-shadow(8px 8px 10px gray);
}

@media screen and (min-width: 760px) 
{
  h1 
  {
    margin: 2% auto;
  }

  p 
  {
    font-size: 1em;
    margin: 1.8% auto;
  }

  .inicio 
  {
    background: url("imagenes/bg-header-desktop.png");
    background-size: 100%;
  }

  .boton 
  {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .texto1 
  {
    padding: 3%;
  }

  .texto2 
  {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-top: 6%;
  }

  .texto2 .texto-izquierda 
  {
    margin: 10px 0 10px;
  }

  .texto2 .texto-izquierda .computadora1 
  {
    width: 100%;
    margin-left: -9%;
  }

  .texto2 .texto-derecha 
  {
    padding: 2em 1em 0em 6em;
    text-align: left;
    margin-top: 0;
  }

  .texto2 .texto-derecha p 
  {
    font-size: 0.8em;
    margin: 1em 1em 2em 0;
    text-align: left;
    width: 50%;
  }

  .texto3 
  {
    margin-top: 4%;
  }

  .texto3 img
  {
    margin-top: 5%;
    margin-bottom: 2%;
    width: 60%;
  }

  .texto4 
  {
    margin: 5% auto 0;
    padding: 0 10%;
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }

  .texto4 p 
  {
    font-size: 0.8em;
    width: 80%;
  }

  .texto5 
  {
    margin: 0 10%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 40vh;
  }

  .texto6 
  {
    margin: 0;
    padding: 0;
  }

  .texto7
   {
    display: flex;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 100%;
    margin: 8% auto 0;
  }

  .texto7 .logo 
  {
    height: 70px;
    width: 70px;
    margin: 30px;
  }

  .texto7 ul 
  {
    column-count: 3;
    text-align: left;
    width: 50%;
  }

  .texto7 ul li 
  {
    margin: 0 0% 10%;
    font-size: 1em;
  }

  .texto7 .iconos a img 
  {
    margin: 10px;
  }
}
